/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.button {
  padding: 10px;
  background-color: #0061FF;
  border: 1px solid #0058FF;
  color: white;
  cursor: pointer;
  text-align: center;
}

.container-top {
  width: 1184px;
  height: 635px;
  position: relative;
}

.container {
  width: 997px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 161px;
}

.d.flex {
  display: flex;
}

main {
  margin-top: 80px;
  height: 5000px;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

/* HEADER LEFT */
header .header-left {
  display: flex;
  padding-top: 27px;
  height: 100%;
}

header .header-left .logo {
  padding-left: 20px;
}

header .header-left .info {
  margin-left: 41px;
}

header .header-left .info ul {
  list-style: none;
}

header .header-left .info ul li {
  display: inline-block;
  margin-right: 41px;
}

header .header-left .info ul a {
  text-decoration: none;
  color: black;
  padding-bottom: 29px;
}

header .header-left .info ul li:hover a {
  box-shadow: 0px 4px 0px #0058FF;
}

/* HEADER RIGHT */
header .header-right {
  display: flex;
  }

header .header-right .help {
  padding-top: 11px;
}

header .header-right .help ul {
  list-style: none;
}

header .header-right .help ul li {
  display: inline-block;
  margin-right: 41px;
}

header .header-right .help ul a {
  text-decoration: none;
  color: black;
  padding-bottom: 25px;
}

header .header-right .help ul li:hover a {
  box-shadow: 0px 4px 0px #0058FF;
}

header .header-right .button {
  margin-right: 20px;
}

header .header-right .button a {
  text-decoration: none;
  color: white;
}

/* /HEADER */

/* MAIN */
/* JUMBOTRON */
main .jumbotron {
  width: 100%;
  height: 735px;
  padding-top: 100px;
  background-color: #B4D0E7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main .jumbotron .container-top h1 {
  font-size: 4.5em;
  padding-right: 180px;
  padding-bottom: 55px;
}

main .jumbotron .container-top p {
  width: 360px;
  height: 136px;
  font-size: 1.1em;
  margin-bottom: 35px;
}

main .jumbotron .container-top .button {
  width: 225px;
  margin-bottom: 35px;
}

main .jumbotron .container-top .last-text {
  font-size: 1.1em;
  margin-bottom: 40px;
}

main .jumbotron .container-top .content {
  font-size: 50px;
}

main .jumbotron .container-top .image-jumbo img {
  width: 780px;
  height: 465px;
  position: absolute;
  right: 10px;
  bottom: -79px;
}
/* /JUMBOTRON */

main .container h2 {
  font-size: 2.5em;
  padding-bottom: 63px;
}

main .container label {
  margin-right: 50px;
}

/* Columns */
main .container .container-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

main .container .column {
  width: 300px;
  height: 950px;
  border: 1px solid #D3D3D5;
}

/* TOP COLUMN */
main .container .column .Ctop {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D3D3D5;
}

/* HEADER COLUMN */
main .container .column .Hcolumn {
  padding: 25px 24px;
}

main .container .column .Hcolumn h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

main .container .column .Hcolumn span strong {
  display: block;
  padding-bottom: 5px;
}

main .container .column .Hcolumn .for {
  color: grey;
}

main .container .column .description-top {
  padding: 20px 24px 30px 40px;
}

main .container .column .description-top li {
  padding-bottom: 15px;
}

/* MAIN COLUMN */
main .container .column .Mcolumn {
  height: 200px;
  padding: 20px;
}

main .container .column .Mcolumn .button {
  margin-bottom: 30px;
}

main .container .column .Mcolumn hr {
  margin-top: 30px;
  width: 20%;
}

/* Description down */
main .container .column .description-down {
  padding-right: 10px;
}

main .container .column .description-down h4 {
  padding: 5px 20px 10px 20px;
}

main .container .column .description-down ul {
  padding-left: 40px;
  list-style: ;
}

main .container .column .description-down li {
  padding: 10px 10px 3px 0px;

}

main .container .column .description-down li::before {
  content: '';
  font-family: FontAwesome;
}

/* Column Horizontal */
main .container .column-horizontal {
  height: 255px;
  margin-top: 50px;
  width: 100%;
  border: 1px solid #D3D3D5;
}

main .container .column-horizontal .CtopH {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D3D3D5;
}

main .container .column-horizontal .Htop {
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}

main .container .column-horizontal .Htop h3 {
  font-size: 1.5em;
}

main .container .column-horizontal span strong {
  align-self: flex-end;
  padding-left: 20px;
}

main .container .column-horizontal p {
  padding: 55px 0px 0px 20px;
  margin-right: 270px;
}

/* Contact */

main .container .contact {
  margin-top: 148px;
  height: 512px;
  display: flex;
  gap: 50px;
}

main .container .contact .image {
  height: 100%;
  width: 600px;
}

main .container .contact .image img {
  width: 100%;
}

main .container .contact .text-contact {
  height: 205px;
  width: 302px;
  margin-top: 58px;
}

main .container .contact .text-contact h3 {
  font-size: 1.5em;
  padding-bottom: 15px;
}

main .container .contact .text-contact p {
  font-size: 1.06em;
  padding-bottom: 32px;
}

main .container .contact .text-contact .button-contact {
  border: 1px solid;
  cursor: pointer;
  padding: 10px;
  margin-right: 160px;
}