/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
  padding: 10px;
  background-color: #0061FF;
  border: 1px solid #0058FF;
  color: white;
  cursor: pointer;
  text-align: center;
}

.containerHF {
  width: 1184px;
  position: relative;
}

.container {
  width: 997px;
  margin: 0 auto;
  margin-top: 161px;
}

main {
  margin-top: 80px;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

/* HEADER LEFT */
header .header-left {
  display: flex;
  padding-top: 27px;
  height: 100%;
}

header .header-left .logo {
  padding-left: 20px;
}

header .header-left .info {
  margin-left: 41px;
}

header .header-left .info ul {
  list-style: none;
}

header .header-left .info ul li {
  display: inline-block;
  margin-right: 41px;
}

header .header-left .info ul a {
  text-decoration: none;
  color: black;
  padding-bottom: 29px;
}

header .header-left .info ul li:hover a {
  box-shadow: 0px 4px 0px #0058FF;
}

/* HEADER RIGHT */
header .header-right {
  display: flex;
}

header .header-right .help {
  padding-top: 11px;
}

header .header-right .help ul {
  list-style: none;
}

header .header-right .help ul li {
  display: inline-block;
  margin-right: 41px;
}

header .header-right .help ul a {
  text-decoration: none;
  color: black;
  padding-bottom: 25px;
}

header .header-right .help ul li:hover a {
  box-shadow: 0px 4px 0px #0058FF;
}

header .header-right .button {
  margin-right: 20px;
}

header .header-right .button a {
  text-decoration: none;
  color: white;
}

/* /HEADER */

/* MAIN */
/* JUMBOTRON */
main .jumbotron {
  padding-top: 100px;
  background-color: #B4D0E7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main .jumbotron .containerHF h1 {
  font-size: 4.5em;
  padding-right: 180px;
  padding-bottom: 55px;
}

main .jumbotron .containerHF p {
  width: 360px;
  height: 136px;
  font-size: 1.1em;
  margin-bottom: 35px;
}

main .jumbotron .containerHF .button {
  width: 225px;
  margin-bottom: 35px;
}

main .jumbotron .containerHF .last-text {
  font-size: 1.1em;
  margin-bottom: 40px;
}

main .jumbotron .containerHF .content {
  font-size: 50px;
}

main .jumbotron .containerHF .image-jumbo img {
  width: 780px;
  height: 465px;
  position: absolute;
  right: 10px;
  bottom: -79px;
}

/* /JUMBOTRON */

main .container h2 {
  font-size: 2.5em;
  padding-bottom: 63px;
}

main .container label {
  margin-right: 50px;
}

/* Columns */
main .container .container-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

main .container .column {
  width: 300px;
  height: 950px;
  border: 1px solid #D3D3D5;
}

main .container .container-columns .column hr {
  color: #D3D3D5;
}

/* TOP COLUMN */
main .container .column .Ctop {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D3D3D5;
}

/* HEADER COLUMN */
main .container .column .Hcolumn {
  padding: 25px 24px;
}

main .container .column .Hcolumn h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

main .container .column .Hcolumn span strong {
  display: block;
  padding-bottom: 5px;
}

main .container .column .Hcolumn .for {
  color: grey;
}

main .container .column .description-top {
  padding: 20px 24px 30px 40px;
}

main .container .column .description-top ul {
  list-style: none;
}

main .container .column .description-top li {
  padding-bottom: 15px;
}

main .container .column .description-top .user::before {
  content: "\f007";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1em;
  padding-right: 5px;
}

main .container .column .description-top .users::before {
  content: "\f0c0";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  padding-right: 5px;
}

main .container .column .description-top .folder::before {
  content: "\f07b";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  padding-right: 6px;
  font-size: 13px;
}

main .container .column .description-top .nodes::before {
  content: "\f1e0";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.1em;
  padding-right: 6px;
}

main .container .column .description-top li i {
  padding-right: 5px;
}

/* MAIN COLUMN */
main .container .column .Mcolumn {
  height: 200px;
  padding: 20px;
}

main .container .column .Mcolumn .button {
  margin-bottom: 30px;
}

main .container .column .Mcolumn hr {
  margin-top: 30px;
  width: 20%;
}

/* Description down */
main .container .column .description-down {
  padding-right: 10px;
}

main .container .column .description-down h4 {
  padding: 5px 20px 10px 20px;
}

main .container .column .description-down ul {
  padding-left: 40px;
  list-style: none;
}

main .container .column .description-down li {
  padding: 10px 10px 3px 0px;
}

main .container .column .description-down li::before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.4em;
  padding-right: 6px;
  color: #0061FF;
}

/* Column Horizontal */
main .container .column-horizontal {
  height: 255px;
  margin-top: 50px;
  width: 100%;
  border: 1px solid #D3D3D5;
}

main .container .column-horizontal .CtopH {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D3D3D5;
}

main .container .column-horizontal .Htop {
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}

main .container .column-horizontal .Htop h3 {
  font-size: 1.5em;
}

main .container .column-horizontal span strong {
  align-self: flex-end;
  padding-left: 20px;
}

main .container .column-horizontal p {
  padding: 55px 0px 0px 20px;
  margin-right: 270px;
}

/* Contact */

main .container .contact {
  margin-top: 148px;
  display: flex;
  gap: 50px;
}

main .container .contact .image {
  width: 600px;
}

main .container .contact .image img {
  width: 100%;
}

main .container .contact .text-contact {
  width: 302px;
  margin-top: 58px;
}

main .container .contact .text-contact h3 {
  font-size: 1.5em;
  padding-bottom: 15px;
}

main .container .contact .text-contact p {
  font-size: 1.06em;
  padding-bottom: 32px;
}

main .container .contact .text-contact .button-contact {
  border: 1px solid;
  cursor: pointer;
  padding: 10px;
  margin-right: 160px;
}

/* Feature */
main .container .feature {
  margin-top: 165px;
}

main .container .feature h2 {
  padding-bottom: 70px;
}

main .container .contain-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 65px;
}

main .container .feature .card {
  width: calc(100% / 3);
  width: 300px;
}

main .container .feature .card img {
  width: 100%;
}

main .container .feature .card h3 {
  font-size: 1.6em;
  padding-bottom: 18px;
}

main .container .feature .card p {
  font-size: 1.05em;
}

/* Customers */
main .container .customers {
  margin-top: 204px;
  padding-right: 260px;
}

/* Company */
main .company {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.active:active{
  border: 15px solid rgba(0, 0, 0, .4);
}

main .company .containerL {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 640px;
}

main .company .containerL .square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 50%;
  aspect-ratio: 1/1;
}

main .company .containerL .square img {
  width: 50%;
  filter: invert(1);
}

main .company .containerL .square:nth-child(1) {
  background-color: #A2D39B;
}

main .company .containerL .square:nth-child(2) {
  background-color: #61082B;
}

main .company .containerL .square:nth-child(3) {
  background-color: #0093CE;
}

main .company .containerL .square:nth-child(4) {
  background-color: #FF1C1C;
}

/* Contenitore centrale */
main .company .containerC {
  width: 540px;
  height: 50%;
  margin-top: 50px;
  padding: 10px;
}

main .company .containerC img {
  width: 50%;
  padding-bottom: 45px;
}

main .company .containerC hr {
  width: 110px;
  margin-bottom: 45px;
}

main .company .containerC p {
  font-size: 1.1em;
  margin-bottom: 50px
}

main .company .containerC span {
  font-size: 1.1em;
}

/* Contenitore di destra */
main .company .containerR {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
}

main .company .containerR .square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 50%;
  aspect-ratio: 1/1;
}

main .company .containerR .square img {
  width: 50%;
  filter: invert(1);
}

main .company .containerR .square:nth-child(1) {
  background-color: #D5001F;
}

main .company .containerR .square:nth-child(2) {
  background-color: #B4D0E7;
}

main .company .containerR .square:nth-child(3) {
  background-color: #0D2481;
}

main .company .containerR .square:nth-child(4) {
  background-color: #FFD830;
}

/* Business */
main .business {
  height: 360px;
  width: 100%;
  background-color: #B4D0E7;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .business .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

main .business .container .text {
  width: 480px;
  color: #61082B;
  display: flex;
}

main .business .container .button {
  height: 50px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

/* Business tendine */
main .tendine {
  display: flex;
}

main .tendine .container {
  margin-bottom: 150px;
}

main .tendine .container h2 {
  padding-bottom: 65px;
}

main .tendine .container hr {
  margin-bottom: 35px;
}

main .tendine .container .hiddentext {
  padding-right: 100px;
  margin-bottom: 20px;
  font-size: 1.1em;
  display: none;
}

main .tendine .container h3:hover + .hiddentext {
  display: block;
}

main .tendine .container h3 {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

main .tendine .container h3 i {
  padding-right: 50px;
  cursor: pointer;
}

/* FOOTER */

footer {
  height: 570px;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

footer .containerHF .footertop {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

footer .containerHF .footertop .options ul {
  list-style: none;
  color: white;
}

footer .containerHF .footertop .options ul li {
  padding-bottom: 15px;
}

footer .containerHF .footertop .options ul li h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

footer .containerHF .footertop .options ul li a {
  text-decoration: none;
  color: white;
}

footer .containerHF .footertop .options ul li a:hover {
  text-decoration: underline;
}

footer .containerHF hr {
  width: 120px;
  margin-bottom: 50px;
}

footer .containerHF .language span {
  color: #999999;
}

footer .containerHF .language span i {
  padding-right: 5px;
}